{% extends "layout.html" %}
{% block content %}
<div class="article">
  <h2>Posts
    {% if num_posts %}
    <small style="float: right; margin-right: 130px;">
      <form method="POST" id="post_order_form">
        {{ form.csrf_token }}
        Display order: &nbsp; {{ form.post_order(style='width: 80px; height: 25px;') }}
        <script>
          function myFunction () {
            post_order_form = document.getElementById("post_order_form");
            post_order_form.submit();  
          }
        </script>
      </form>
    </small>
    {% endif %}
  </h2>
  <div class="clr"></div>
  <ul class="blog_post">
    {% for post in posts %}
    <li>
      <div class="comment">
        <p><a href="{{ url_for('post', post_id=post.id) }}">
            <img src="{{ url_for('static', filename='img/' + post.image_file) }}" width="200"></p>
        <p class="post_title"> {{ post.title }}</a></p>
        <p class="short_description" style="white-space: pre-wrap">{{ post.short_description }}</p>
        <p>Created by {{ post.user.username }} </p>
        <p>{{ post.date.strftime('%B %d %Y - %H:%M:%S') }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock content %}