{% extends "layout.html" %}
{% block content %}
<div class="article">
    <h2>Privacy Policy & Disclaimer</h2>

    <h3>Privacy Statement</h3>

    <p>
        We respects your privacy. This Privacy
        Statement describes the types of personal information
        we collect on the website, how we may use the
        information, the purposes for which we may use it,
        and with whom we may share it.
    </p>

    <p>
        By visiting or submitting information to this website,
        you are accepting and consenting to the provisions set
        forth in this privacy statement. If you do not agree to
        this privacy statement, please do not use this website.
    </p>

    <p>
        We may obtain personal information through this
        website, including when you send us a contact message which
        includes your name, e-mail address, telephone number, and
        any other information you provide in the message box.
    </p>

    <p>
        During your use of this website, technical and usage data
        pertaining to your device and/or Internet connection is
        collected, including your Internet browser type, your
        preferences on this website, your IP address and other of
        your device characteristics. This is undertaken in order to
        manage best website experience and enhance the safety and
        security of the website. This technical and usage data is
        obtained using "cookies" or other similar technologies. In
        compliance with relevant law, we may retain information as
        needed or appropriate to serve our legitimate business
        purposes or as required by law.
    </p>

    <p>
        We will not sell or rent your personal information
        to anyone. Your personal information (e.g., IP address) will
        be available to our technical service providers who are
        administering and storing our website data. They are not
        authorized to use or disclose your personal information except
        as necessary to perform services on our behalf or comply with
        legal requirements.
    </p>

    <p>
        We maintains safeguards designed to protect personal
        information from loss, misuse, and unauthorized access, disclosure,
        alteration, and destruction.
    </p>

    <p>
        This website may contain links to other websites for your
        convenience and information. Linked websites may have their own
        privacy policies or notices, which we suggest you review if you
        visit any linked websites. We are not responsible for the content
        of any websites, any use of those websites, or the privacy practices
        of those websites.
    </p>

    <p>
        Additional information regarding our personal data processing
        purposes and the rights of those natural persons whose personal
        data we process can be found in our additional General Privacy
        Statement.
    </p>

    <p>
        Please contact us if you have any questions about this privacy
        statement or the personal data we hold about you. Contact us
        through the webform or 0753 695 9239.
    </p>

    <h3>Disclaimer</h3>

    <p>
        All information contained on this website is for informational
        purposes only. This information is not in any way intended to
        solicit investment. It is important that you do not use this
        website to request, authorize or affect the purchase or sale of
        any security, to send fund transfer instructions, to affect any
        other transactions or to send time sensitive instructions.
        Nothing in this information constitutes investment, legal,
        accounting or tax advice, or a representation that any investment
        or strategy is suitable or appropriate for your individual
        circumstances. Any discussions of past performance should not
        be taken as an indication of future results, and no representation,
        expressed or implied, is made regarding future results. You
        should consider the specific return and risk profile of any
        investment or strategy before effecting, or agreeing to effect,
        any transaction.
    </p>
</div>
{% endblock content %}