{% extends "layout.html" %}
{% block content %}
<div class="article">
    <h3>Terms of use</h3>

    <p>
        All text, images and other content on this website
        is copyright of Yueying Tian unless explicitly
        stated otherwise.
    </p>

    <p>
        It may only be downloaded or copied without first
        obtaining permission for the purposes of teaching,
        administration and research within the University,
        or for personal, non-commercial use.
    </p>

    <p>
        If you wish to reproduce our website content in any
        other way, or for any other purpose, you must first
        contact the Digital Communications team for permission.
    </p>


    <h3>Viruses</h3>

    <p>
        Every effort is made to ensure downloadable content
        is free from viruses. Yueying Tian can accept
        no liability for damages resulting from virus infection.
    </p>

    <h3>Trademarks</h3>

    <p>
        All trademarks on this site remain the property of their
        respective owners and are used for identification purposes
        only.
    </p>
</div>
{% endblock content %}